@model TrabzonToplulugu.Models.ViewModel.MemberViewModel

<h2>Get</h2>
<table>
    <tr>
        <td>@Model.Id</td>
        <td><span class="label">@Model.DisplayName</span></td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="/member/" class="btn btn-primary">Tamamı</a>
        </td>
    </tr>
</table>